* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  background-color: rgb(5, 27, 40);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box {
  height: 320px;
  width: 570px;
  border: 1px solid rgb(40, 195, 205);
  background-color: transparent;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 25px rgb(40, 195, 205);
  /* display: none; */
}
.left {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  padding: 0 40px;
  /* display: none; */
}
.container .active .box .left .animation {
  transform: translateX(0);
}

.login {
  text-align: center;
  color: white;
}
.inputbox {
  position: relative;
  margin-top: 10px;
}
.inputbox input {
  background-color: transparent;
  outline: none;
  border: none;
  height: 40px;
  width: 80%;
  border-bottom: 1.5px solid white;
  cursor: pointer;
}
.inputbox label {
  position: absolute;
  color: white;
  left: 0;
  top: 50%;

  transition: 0.5s;
}
.inputbox input:focus ~ label,
.inputbox input:valid ~ label {
  top: -5px;
  color: rgb(40, 195, 205);
  transform: translateY(-2%);
}
.lgnbtn {
  height: 35px;
  border-radius: 15px;
  border: 1px solid rgb(40, 195, 205);
  outline: none;
  margin-top: 10px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.lgnbtn::before {
  position: absolute;
  content: "";
  height: 300%;
  width: 100%;
  background: linear-gradient(
    rgb(40, 195, 205),
    rgb(0, 0, 0),
    rgb(40, 195, 205),
    rgb(30, 30, 30)
  );
  z-index: -1;
  left: 0;
  top: -100%;
  transition: 0.5s;
}
.lgnbtn:hover::before {
  top: 0;
}
.signupline {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.sgnupbtn {
  text-decoration: none;
  font-size: 15px;
  margin-left: 7px;
}
.signupline h5 {
  color: white;
}
.right {
  height: 100%;
  width: 40%;
  color: white;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  /* display: none; */
}

.txt1 {
  font-size: 30px;
  text-align: right;
}
.lorem {
  text-align: right;
}
.bg-animate {
  position: absolute;
  height: 400px;
  width: 700px;
  top: 0px;
  right: 21px;
  border-bottom: 2px solid rgb(40, 195, 205);
  transform: rotate(49deg) skew(139deg);
  transform-origin: bottom right;
  background: linear-gradient(45deg, rgb(2, 169, 188), rgb(0, 0, 0));
  transition: 2s ease;
}
.active .box .bg-animate {
  transform: rotate(0deg) skew(0deg);
  right: 0px;
}
.bg-animate2 {
  position: absolute;
  height: 400px;
  width: 700px;
  top: 330px;
  right: -66px;
  border-bottom: 2px solid rgb(40, 195, 205);
  transform: rotate(0deg) skew(0deg);

  transform-origin: bottom left;
  background: linear-gradient(
    45deg,
    rgb(0, 0, 0),
    rgb(2, 169, 188),
    rgb(2, 169, 188)
  );
  transition: 2s ease;
}
.active .box .bg-animate2 {
  transform: rotate(306deg) skew(398deg);
  top: 127px;
  transition-delay: 2s;
}
